<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<div class="col-lg">
    <!-- Add Client Details-->
     <div class="topnav">
       <p> Add or choose an existing client</p>
       <div class="search-container">
          <form action="#">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
     
      <div class="container ">
        <div class="row">
          <button class="btnclient" (click)="open(content)"  > 
            <p class="addplus">+</p>
            <p>Add Client</p>
          </button>
         
         <ul  class="listclient " *ngFor="let client of clientList" >
          <li style="list-style-type: none;"> 
            <img src="assets/images/building.png"><br/>
            {{client.name}}
            <hr/>
             <p class="idtype">{{client.idtype}}</p>
            {{client.id}}
           
        </li>
        </ul>
        </div>
      </div>
    
     
     
<ng-template #content let-modal>
  <div class="modal-header" style='border: none;'>
    <h5>Add Client Details</h5>
    <button type="button" class=" closebtn "   aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #clientform="ngForm" >
  <div class="modal-body  addform">
 
    <div class=" form-group">
      <input type="radio" name="idtype" value="Opportunity" ngModel/>Opportunity
      <input type="radio" name="idtype" value="Contract ID" ngModel/>Contract ID
    </div>
    <div class="form-group">
      <br/>
      <input type="text" id="Idnumber" name="id" ngModel/>
      <button id="validate">Validate</button>
    </div>
    <div class="row"> 
      <div class="col-sm-6">
      <div class="form-group">
        <br/>
      <label><h6>Client Name</h6></label> <br/>
      <input type="text" id="clientname"  name="name" required ngModel/>
      </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <br/>
        <input type="file" id="upload" hidden name="upload" hidden ngModel/><br/>
        <label class="chooselogo" for="upload">Upload Logo</label>
      </div>
      </div></div>
      <div class="row"> 
        <div class="col-sm-6">
          <div class="form-group">
            <br/>
          <label for="industype"><h6>Industry Type</h6></label><span class="required">*</span>
          <select class="form-control" id="industype" name="industry" ngModel>
              <option  value="Select">--Select--</option>
              <option value="Automobile">Automobile</option>
              <option value="Commerce">Commerce</option>
              <option value="Education">Education</option>
              <option value="Technology">Technology</option>
              <option value="Finance">Finance</option> 
          </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <br/>
          <label for="subtype"><h6>Sub-Industry</h6></label><span class="required">*</span>
          <select class="form-control" id="subtype" name="sub-industry" ngModel>
              <option  value="Select">--Select--</option>
              <option value="Education">Education</option>
              <option value="Automobile">Automobile</option>
              <option value="Finance">Finance</option> 
              <option value="Commerce">Commerce</option>   
              <option value="Technology">Technology</option>  
          </select>
          </div>
        </div></div>
        <div class="row"> 
          <div class="col-sm-6">
          <div class="form-group">
            <br/>
           <label for="market"><h6>Market</h6></label><span class="required">*</span>
           <select class="form-control" id="market" name="market" ngModel>
            <option value="select">--Select--</option>
            <option value="market1">market1</option>
            <option value="market2">market2</option>
            <option value="market3">market3</option>
            <option value="market4">market4</option>
           </select>
          </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <br/>
            <label for="market"><h6>Market Units</h6></label><span class="required">*</span>
            <select class="form-control" id="marketunits" name="marketunit" ngModel>
              <option value="select">--Select--</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            </div>
          </div></div>
          <div class="row"> 
            <div class="col-sm-12">
              <div class="form-group">
              <br/>
              <label>Description</label><span class="required">*</span><br/>
              <textarea name="description" cols="30" rows="3" ngModel></textarea>
            </div>
            </div></div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <br/>
                 <p>If you don't have an active Opportunity/Contract ID connect
                    with <a href="#">LB advisory Team</a></p>
                  </div>
              </div>
              <div class="col-sm-6">
               <div class=" form-group text-right">
                <br/>
                <button type="button"  (click)="addClients(clientform.value)">Add</button>
                <button class="btn btn-secondary" name="close" (click)="modal.dismiss()">Close</button>
                
                </div>  
              </div></div>
           </div>
         </form>
</ng-template>
