
 .topnav {
    overflow: hidden;
  }
  
  .topnav p {
    float: left;
    display: block;
    color: black;
    text-align: center;
    font-weight: 500;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  .topnav .search-container {
    float: right;
    
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 10px;
    border: groove;
    
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: white;
    font-size: 10px;
    border: groove;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  }

  .btnclient{
    width: 200px;
     height: 180px;
     background-color: rgb(241, 238, 238);
     border-radius: 25px;
     text-align:center;
     padding:50px ;
     cursor:pointer;
     margin-left: 4px;
     text-decoration: none;
     border: none;
     outline: none;
 }
 .btnclient p{
   color: #000;
 
 }
 .listclient{
  width: 200px;
     height: 180px;
     background-color: rgb(241, 238, 238);
     border-radius: 25px;
     padding: 10px;
     text-align:center;
     cursor:pointer;
     margin-left: 4px;
     text-decoration: none;
     border: none;
     outline: none; 
 }
 .listclient .idtype{
 font-size: 10px;

}

 
 .listclient img{
   width: 50px;
   height: 50px;
 }
 .addplus{
   height: 30px;
   width: 30px;
   background-color:rgb(241, 238, 238);
   border-radius: 50%;
   display: inline-block;
   border: 1px solid;
   text-align: center;
   text-decoration: none;
   
 }
 .btnclient:hover {
    color: #000;
    border: 1px solid black;
 }
 .validate {
  width: 20%;
  background-color: #ddd;
  margin-left: 30px;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 16px;
}


.addform{
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
}
.addform input[type=radio] {
  margin-left: 10px;
  margin-right: 10px;
  
}
.addform #Idnumber {
  width: 70%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.addform #clientname {
  width: 100%;
  padding:3px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(230, 230, 230);
}
.addform .chooselogo{
  background-color: rgb(76, 74, 241);
  display: inline-block;
  color: white;
  padding: 0.3rem;
  font: 0.8em sans-serif;
  width: 10em;
  text-align: center;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 1rem;
}
.addform #validate {
  width: 20%;
  background-color: #ddd;
  margin-left: 30px;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 16px;
}
.addform textarea{
  width: 100%;
  height: 50px;
}
.close{
  font-size: 30px;
}
.text-right{
  margin-top: 16px;
}
.text-right button{
  padding: 5px 40px;
  float:right;
  background: white;
  color: #000;
  font-size: 10px;
  font-weight:bold;
  border: 2px solid rgba(19, 104, 216, 0.747);
  border-radius: 25px;
  cursor: pointer;
}

.closebtn{
   outline: none;
   font-size: 30px;
   float: right;
   font-weight: 900px;
   border: none;
   color: #000;
   background-color: white;
   text-decoration: none;
}
.required{
  color: red;
}
.addform button:hover{
  background-color:ghostwhite;
}




