
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: rgb(86, 86, 219);
    width: 100%;
    height: 330px;
   
  }

  .tab a {
    display: block;
    background-color: inherit;
    color: white;
    padding: 10px 16px;
    width: 100%;
    border: 0.2px outset white;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  }

  .tab a:hover {
    background-color: rgb(77, 0, 177);
  }
  
 .tab .active {
  background-color: rgb(77, 0, 177);
}
 