.businessunits{
    overflow: hidden;
    margin-top: 20px;
}
.businessunits p{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-weight: 500;
    text-decoration: none;
    font-size: 17px;
}

.businessunits button{
    float: right;
    padding: 6px 20px;
    background: white;
    outline: none;
    font-size: 11px;
    font-weight: 500;
    border: 2px solid rgba(19, 104, 216, 0.747);
    border-radius: 25px;
    cursor: pointer;
   
}
.businessunits button:hover{
    background-color: rgb(52, 94, 211);
    color: #fff;
}

.addbusinessunits{
    padding-right: 10px;
    padding-left: 10x;
    padding-top: 10px;
    padding-bottom: 10px;
   
}


.addbusinessunits #sponsorseg{
    width: 60%;
    padding: 3px;
    margin-left: 10px;
    border-radius: 5px;
    border: groove;
}

.addbusinessunits #sponsordetail{
    width: 100%;
    padding: 3px;
    border: groove;
    border-radius: 5px;
}

.text-right{
   margin-top: 16px;
}
.text-right button{
   padding: 5px 40px;
   background: white;
   color: #000;
   font-size: 10px;
   font-weight:bold;
   border: 2px solid rgba(19, 104, 216, 0.747);
   border-radius: 25px;
   cursor: pointer;
}
.text-right input[type=submit] {
   padding: 5px 40px;
   background: rgb(52, 94, 211);
   color: #fff;
   font-size: 10px;
   font-weight:bold;
   border: 2px solid rgba(19, 104, 216, 0.747);
   border-radius: 25px;
   cursor: pointer;
}
