<div class="col-lg">
    <div class="businessunits">
        <p>Choose Business unit(s) in scope</p>
        <button id="addbusinessunits"   >Add Business Unit</button>
    </div>
</div>


<ng-template #business let-modal>
    <div class="modal-header" style='border: none;'>
      <h5>Add Client Details</h5>
      <button type="button" class=" closebtn "   aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form #clientform="ngForm" >
        <div class="modal-body">
            sdafd
        </div>
    </form>
</ng-template>
      
